<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/frontend_styles.css') }}">
    <title>Analyze Image</title>
</head>
<body>
    <h1 class="page_title">Analyze Image Selected</h1>
    <img id="image_selected" src="{{url}}" alt="Image">
    <div class="image_info">
        <span class="info_label">W:</span>
        <span class="info_img">{{image_width}}</span>
        <span>X</span>
        <span class="info_label">H:</span>
        <span class="info_img">{{image_height}}</span>
    </div>


</body>
</html>